__pycache__/
*.py[cod]*.mp4
.idea/
desktop.ini
Icon\r

Assistants/Phone_Consent.xlsx
Course_Outline/
Learning_Outcome/
*.mp4
Books/Advanced_Programming_in_the_UNIX_Environment_3rd_Edition_0321637739/
Books/Linux Device Drivers_3Ed/
Books/Understanding UNIX-LINUX Programming A Guide to Theory and Practice/
Books/Computer_Systems-A_Programmers_Perspective_2ed/
Misc/
